*{
  margin: 0px;
}
body{
  /* background-color: rgb(168, 156, 156); */
  background-color:whitesmoke;
}
.app{
  display:flex;
  justify-content: space-between;
  padding: 10px;
}
.app_left{
  flex:0.8;
}
.app_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app_header p{
  /* color: #006aff; */
  color:black;
  font-size: 25px;
  font-style: italic;
}
.app_stats{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.app_dropdown {
  background-color:#80b5ff;
  margin-right: 20px;
}
.app_information  {
  color: orangered;
}




